*{
    font-family: monospace;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;
}
header {
    border-style: solid;
    border-color: blueviolet;
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
    top: 0;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50%;
    width: 80%;
    font-size: 30px;
}
nav{
    line-height: 65px;
}
#navwork{
    display: flex;
    justify-content: space-between;
}
body{
    background-color: linen;
    padding-top: 65px;
}
a:link {
    color: cyan;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: chartreuse
}
img:hover{
    border-style: solid;
}